.content-div {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 330px;
    width: 310px;
    border-radius: 40px;
    transition: background-image 0.3s;
    background-color: #6fc2b0;
}

.content-div:hover {
    background-image: linear-gradient(
        to right,
        rgba(152, 228, 211, 0.9),
        hsla(312, 69%, 76%, 0.842)
    ) !important;
    opacity: 0.9;
    border-radius: 70px;
    margin: 30px;
    transform: scale(1.1);
    cursor: pointer;
    z-index: 1; 
}


.content-div:hover span {
    color:#0a192f;
    text-align: center;
    font-family: italic;
    font-size: 600;
}


.content-div:hover button {
    color: #0a192f;
    background-color: rgba(255, 255, 255, 0.8);
    
}

.work-button{
    width: 60px;
    height: 35px;
}
.work-button:hover{
    transform: scale(1.1);
}






