.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 300px;
    width: 290px;
    border-radius: 40px;
    transition: background-image 0.3s;
    background-color: #6fc2b0;
}

.content-div:hover {
    background-image: linear-gradient(
        to right,
        rgba(112, 255, 224, 0.9),
        hsla(313, 69%, 60%, 0.842)   
    )!important;
    
}

